* {
   box-sizing: border-box;
}

:root {
   --gray1: #333;
   --gray2: #4F4F4F;
   --gray3: #828282;
   --gray4: #BDBDBD;
   --gray5: #A9A9A9;
   --gray6: #F2F2F2;
   --blue: #2D9CDB;
}

body {
   margin: 0px;
   font-family: 'Poppins';
   color: #333;
}

a {
   color: inherit;
   text-decoration: inherit;
}

.navbar {
   margin: 50px 56px 50px 52px;
}

.navbar-brand {
   float: left;
}

.navbar-brand h1 {
   font-family: 'Heebo';
   font-size: 2.25em;
   margin: 0;
}

.navbar-collapse {
   float: right;
   width: 700px;
   font-size: 24px;
   font-weight: 500;
}

.navbar-collapse ul {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   margin: 0;
}

.title1 {
   margin: 100px 0 0 280px;
   font-size: 18px;
}

.title1 h2 {
   font-size: 48px;
   font-weight: 500;
   margin: 0;
}

.title1 p {
   max-width: 366px;
}

.hero-img {
   border-radius: 18px;
   width: 100%;
}